html,
body {
  height: 100%;
}

body {
  margin: 0;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
}
.container {
  position: relative;
  height: 1080px;
  width: 1920px;
}
.star {
  position: absolute;
}
