body {
  margin: 0;
   overflow: hidden;
}
.container {
  width: 100vw;
  height: 100vh;
  position: relative;
  border: 1px solid black;
}

.tank {
  position: absolute;
  width: 60px;
}

.text {
  font-size: 28px;
  font-weight: 700;
}

.counter {
  color: red;
}
